<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div>
        <a class="pull-left" ng-href="/?from={{routes.from}}&amp;to={{routes.to}}&amp;provider={{routes.provider}}">&laquo; Back to map view</a>
        <a class="pull-right" target="_blank" href="{{routes.directUrl}}">View JSON</a>
      </div>
      <div class="page-header">
        <h1 ng-show="routes.routes || routes.error">Results from {{routes.routes.maas.provider}}</h1>
        <h1 ng-hide="routes.routes || routes.error">Loading...</h1>
      </div>
      <div class="" ng-show="routes.routes.plan.itineraries.length==0">
        <br>
        No results.
      </div>
      <div class="alert alert-success" ng-show="routes.routes.plan.from">
        From: {{routes.routes.plan.from.name}} ({{routes.routes.plan.from.lat}},{{routes.routes.plan.from.lon}})
      </div>
      <div class="alert alert-danger" ng-show="routes.error">
        {{routes.error}}
      </div>
      <div class="row" ng-repeat="itinerary in routes.routes.plan.itineraries">
        <div class="col-lg-12">
          <div>
            <h4>{{itinerary.startTime|date:'MMM dd'}} {{itinerary.startTime|date:'HH:mm'}} - {{itinerary.endTime|date:'HH:mm'}}</h4>
          </div>
          <div class="row" ng-repeat="leg in itinerary.legs">
            <div class="col-xs-2">
                {{leg.startTime|date:'HH:mm'}}
            </div>
            <div class="col-xs-10">
              <div ng-show="leg.from.name || leg.to.name">
                {{leg.mode}} {{leg.route}}
                {{leg.from.name}} - {{leg.to.name}}
              </div>
            </div>
          </div>
          <div style="padding:4px 0 8px 0">
            <button class="btn btn-primary" style="width:100%" ng-click="routes.startRoute(itinerary)">Start Route</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
