<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <form ng-submit="main.findRoute(main.from, main.to)">
        <fieldset class="form-group">
          <label for="provider">Provider</label>
          <select class="form-control" id="provider" ng-model="main.provider" ng-options="provider for provider in main.providers"></select>
        </fieldset>
        <fieldset class="form-group">
          <div class="input-group">
            <div class="input-group-addon">From</div>
            <input type="text" class="form-control" id="from" placeholder="Enter origin" autocomplete="off" ng-model="main.from" typeahead="location for location in main.getLocations($viewValue)" typeahead-wait-ms="600" typeahead-min-length="3">
            <span class="input-group-btn">
              <button class="btn btn-danger" type="button" ng-click="main.setFrom()">Set</button>
            </span>
          </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="input-group">
            <div class="input-group-addon">To</div>
            <input type="text" class="form-control" id="to" placeholder="Enter destination" autocomplete="off" ng-model="main.to" typeahead="location for location in main.getLocations($viewValue)" typeahead-wait-ms="600" typeahead-min-length="3">
          </div>
        </fieldset>
        <button type="submit" style="width:100%" class="btn btn-primary">Find Routes</button>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12 main">
      <ui-gmap-google-map center="main.map.center" zoom="main.map.zoom" events="{center_changed:main.centerChanged}">
        <ui-gmap-marker idKey="'from'" coords="main.fromCoords"></ui-gmap-marker>
        <ui-gmap-marker idKey="'to'" coords="main.toCoords"></ui-gmap-marker>
        <ui-gmap-polyline path="[main.fromCoords,main.toCoords]"></ui-gmap-polyline>
      </ui-gmap-google-map>
    </div>
  </div>
</div>
