<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <form ng-submit="main.findRoute(main.from, main.to)">
        <fieldset class="form-group">
          <label for="provider">Provider</label>
          <select class="form-control" id="provider" ng-model="main.provider" ng-options="provider for provider in main.providers"></select>
        </fieldset>
        <fieldset class="form-group">
          <label for="from">Starting point</label>
          <input type="text" class="form-control" id="from" placeholder="Enter latitude,longitude" ng-model="main.from">
        </fieldset>
        <fieldset class="form-group">
          <label for="to">Destination</label>
          <input type="text" class="form-control" id="to" placeholder="Enter latitude,longitude" ng-model="main.to">
        </fieldset>
        <button type="submit" class="btn btn-primary">Find Routes</button>
      </form>
    </div>
  </div>
  <div class="row" ng-show="main.routes">
    <div class="col-lg-12">
      <h3 class="page-header">Available Routes</h3>
      <p>
        Open JSON in new window: <a target="_blank" href="{{main.directUrl}}">{{main.directUrl}}</a>
      </p>
      <table class="table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Legs</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="itinerary in main.routes.plan.itineraries">
            <td>{{itinerary.startTime|date}}<br>{{itinerary.startTime|date:'HH:mm'}} - {{itinerary.endTime|date:'HH:mm'}}</td>
            <td>
              <div ng-repeat="leg in itinerary.legs">
                {{leg.startTime|date:'HH:mm'}}-{{leg.endTime|date:'HH:mm'}} {{leg.mode}} {{leg.route}} {{leg.from.name}} - {{leg.to.name}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
