<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <form ng-submit="login.login(login.phone, login.code)">
        <fieldset class="form-group">
          <label for="phone">Phone number</label>
          <input type="text" class="form-control" id="phone" placeholder="Enter your phone number as +358xxxxxxxxx" ng-model="login.phone">
        </fieldset>
        <fieldset class="form-group">
          <label for="code">Verification code</label>
          <input type="text" class="form-control" id="code" placeholder="Enter the verification you received" ng-model="login.code">
        </fieldset>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
      <br>
      <div class="alert alert-success" ng-show="login.token">
        {{login.token|json}}
      </div>
      <div class="alert alert-danger" ng-show="login.error">
        {{login.error}}
      </div>
    </div>
  </div>
</div>
